<footer style="text-align:center; color:#acacac; font-size:0.95em;">
  Created by 
  <a href="https://x.com/mehdiparandin" target="_blank" rel="noopener noreferrer" style="color:#ffffff;">Meydi</a> &middot;
  <a href="https://mey-d.github.io/posts/self-xss-disk-cache/" target="_blank" rel="noopener noreferrer" style="color:#ffffff;">Solution</a>
</footer>
