<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Selfkiri | Meydi</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <% if (!username) { %>
      <h2>Login</h2>
      <form method="POST" action="/login" class="form-box">
        <input name="username" type="text" placeholder="Username" required><br>
        <input name="password" type="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
      </form>
      <div class="links">
        <a href="/register">Create User</a>
      </div>
      <div class="challenge-info" style="margin-top:2em; font-size:0.95em; color:#666;">
        <p><strong>The goal of this challenge is to steal the admin’s (victim) API key</strong></p>
        <p><strong>Victim will click only once on the attacker's website.</strong></p>
        <p><strong>Should work on the latest version of Chromium and FireFox.</strong></p>
      </div>
    <% } else { %>
      <h2>Welcome, <%= username %></h2>
      <div class="links">
        <a href="/profile">Go to Profile</a> | <a href="/logout">Logout</a>
      </div>
    <% } %>
  </div>
  <%- include('footer') %>

  <!-- admin credentials for challenge purposes: username=admin, password=very_secret_pass -->

</body>
</html>
